$mobile : 1080px;
.password-container {
  // height: 50vh;
  padding: 200px 0 50px 0;

  @media screen and (max-width: $mobile) {
    padding: 200px 0 50px 0;
  }

  .password-password {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // height: 50vh;
    margin: 0rem auto;
    gap: 1rem;
    width: fit-content;
    font-family: "Poppins";
    padding:  1rem 4rem 2rem 3rem;
    border: solid 1px #650113;
    border-radius: 8px;

    @media only screen and (max-width: 600px) {
      margin: 0 1rem;
    }


    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      display: block;
    }

    input,
    textarea {
      padding: 1rem 0.8rem;
      border-radius: 5px;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      width: 100%;
      border: 1px solid #660113;
      /* identical to box height */

      /* General black */

      color: #1f1f1f;
      &:focus{
        outline: none;
        outline-color: #660113;
      }
    }

    .myBtn {
      justify-self: center;
      padding: 8px 24px;
      gap: 5px;
      width: max-content;
      background: #660113;
      border-radius: 5px;
      font-size: 1.5rem;
      color: #ffffff;
      border: none;
      margin-top: 2rem;
      &:disabled {
        background-color: #848383;
      }
      &:hover{
        transform: scale(1.1, 1.1);
      }
    }
  }
}
