

.footer-container{
display: flex;
width: 100%;
background-color: #141138;
background-image: url(../../../assests/pattern.svg);
// opacity: 0.9;
// border-radius: 50% 50% 0 0/100% 100% 0 0/100% 100% 0 0;
// background-image: url(../../../assests/footer-bg.svg);
// background-repeat: no-repeat;
// background-size: cover;
background-repeat: round;
min-height: 25rem;
color: #FFFFFF;
// border-top-left-radius: 50% ;
//     border-top-right-radius: 50%;

padding-top:3rem;


.containerF{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 3rem ;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    // background-color: inherit;
    .footer-left{
        display: flex;
        gap: 2rem;
        align-items: center;
        p{
            font-family: 'Times New Roman';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 37px;
            
                color: #FFFFFF;
        }
    }
    .footer-right{
        p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
            }
        ul{
            li{
                list-style: none;
               
                a{
                font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
    
}
}

@media screen and (max-width: 850px) {
    .footer-container{
        .container{
            display: grid;
            .footer-left{
                p{
                    font-size: 18px;
                }
            }
        }
    }
}