.signinContainer {
    background-color: #efefef;
    padding: 1rem;

    .containerS {
        margin: 4rem auto;
        width: 80%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        align-items: center;

        .signin-left {}

        .signin-right {
            border: #660113 1px solid;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);

            form {
                display: grid;
                // flex-direction: column;
                gap: 1rem;
                width: 90%;

                // align-items: center;

                label {}

                h2 {
                    justify-self: center;
                }

                input,
                textarea {
                    padding: .4rem .8rem;
                    border-radius: 5px;
                    border: none;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    width: 100%;
                    border: 1px solid #660113;
                    margin-top: .4rem;
                    /* identical to box height */


                    /* General black */

                    color: #1F1F1F;
                }

                .forgot-remember {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .check {
                        display: flex;

                        .custom-control-input {
                            height: 16px;
                            width: 16px;
                        }
                    }

                }

                .d-grid {

                    justify-self: center;

                    .myBtn {
                        justify-self: center;
                        padding: 8px 24px;
                        gap: 5px;
                        width: max-content;
                        background: #660113;
                        border-radius: 5px;
                        font-size: 1.5rem;
                        color: #FFFFFF;
                        border: none;
                        margin-top: 2rem;
                        // display: none;
                    }
                    .diasbled{
                        background: #660113;
                    }

                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        .signin-left {
            display: none;
        }

    }
}