$mobile : 480px;
$tablet : 850px;

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-self: center;
    justify-content: space-between;
    





    .activeLink {
        color: hsla(349, 98%, 20%, 1)
    }


    .links {
        display: flex;
        justify-self: flex-end;
        justify-content: space-between;

        @media screen and (max-width: $tablet) {
            display: none;
        }

        @media screen and (min-width: 1090px) {
            font-size: 1rem;
        }


        ul {
            display: flex;
            text-decoration: none;
            list-style: none;
            gap: 3rem;
            font-family: 'Poppins';
            font-style: normal;
            font-size: 24px;

            li {
                a {
                    color: #141138;
                    text-decoration: none;
                    font-weight: 300;
                }

                // &.active {
                //     transform: scale(1.1, 1.1);
                // font-weight: 700;
                // }

                .login {

                    padding: .1rem 1.5rem;
                    gap: 10px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 1.5rem;
                    margin-right: 20px;

                    // position: absolute;
                    width: max-content;
                    // height: 60px;
                    // left: 1200px;
                    // top: 142px;

                    /* Midland-blue */

                    border: 2px solid #141138;
                    border-radius: 5px;
                    background-color: #ffffff;
                }

                .login {
                    box-shadow: 4px 4px 12px rgba(20, 17, 56, 0.3);
                }

            }
            .link{
                cursor: pointer;
            }
            .link:active{
                color: red;
            }
            .link:hover {
                transform: scale(1.1, 1.1);
                font-weight: 700;

            }
        }

    }

    .humberger {

        display: none;
        margin-top: 1rem;
        list-style: none;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }

     .mobilelinks{
        list-style: none;
        ul{
           
                ul {
                .link {
                        list-style: none;
                
                        li {
                
                            a {
                                color: #141138;
                                text-decoration: none;
                                font-weight: 300;
                            }
                
                
                            .login {
                
                                padding: .1rem 1.5rem;
                                gap: 10px;
                                font-family: 'Poppins';
                                font-weight: 500;
                                font-size: 1.5rem;
                                margin-right: 20px;
                
                                // position: absolute;
                                width: max-content;
                                // height: 60px;
                                // left: 1200px;
                                // top: 142px;
                
                                /* Midland-blue */
                
                                border: 2px solid #141138;
                                border-radius: 5px;
                                background-color: #ffffff;
                            }
                
                            .login {
                                box-shadow: 4px 4px 12px rgba(20, 17, 56, 0.3);
                            }
                
                        }
                    }
                
                   
            }
                         .link:hover {
                             transform: scale(1.1, 1.1);
                             font-weight: 700;
            
                         }
        }
     }

        @media screen and (max-width: $tablet) {
            display: flex;
            height: 1.3rem;
            margin-right: 1.3rem;
        }
    }

    .mobilelinks {
        width: 100%;
        list-style: none;


        @media screen and (min-width: $tablet) {
            display: none;
        }

    }

    .logo {

        @media screen and (max-width: $mobile) {
            height: 50%;
            // background-color: red;
        }

        @media screen and (max-width: $tablet) {
            height: 50%;
        }

    }
}