.striveContainer {
    font-family: 'Poppins', sans-serif;
    color: #1F1F1F;
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: space-between;
    // align-items: center;
    width: 80%;
    margin: 2rem auto;
    gap: 2rem;
    @media only screen and (min-width: 875px) {
            grid-template-columns: 1fr 1fr;
    
        }

    img {
        height: auto;
        width: 90%;
        object-fit: cover;
    }

    .striveLeft {
        // width: 50%;
        .line {
            border: 4px solid #660113;
            width: 4rem;
            background-color: #660113;


        }

        .head {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;



            /* Midland-blue */

            color: #141138;

            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;

            }


        }

        .details {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 200;
            font-size: 1.5rem;
            color: #1F1F1F;

            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                font-size: 1rem;
            }
        }

    }

    .striveRight {
        // margin: 0 1rem;
        // width: 50%;

    }


}

@media screen and (max-width:850px) {
    .striveContainer {
        flex-wrap: wrap;

    }
}