.expanded-event-container{

    .left{
        img{
            width: 20%;
        }
    }

    .right{
        span{
            color: #650113;
        
            &:hover{
                text-decoration: underline;
                color: blue
            }
          
        }
    }

   
    
    
}