.expanded-event-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     width: 80%;
     border: 2px solid black;
     margin: 0 auto;

    .left{
        img{
            width: 100%;
            // height: auto;
        }
    }

    .right{
      
       
        .top{
            display: flex;
            justify-content: space-between;
            font-family: "Poppins";
                font-style: normal;
                font-weight: 100;
                font-size: 1.25rem;
               .title{
                align-self: center;
               h4{
                text-align: right;
               }
               }
        }

        .back{
          justify-self: end;
           
                    color: #650113;
            
                    &:hover {
                        text-decoration: underline;
                        color: #141138;
                    }
            
                
             
        
       
    }
    }

   
    
    
}