.footer-container {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    flex-direction: column;
    width: 100%;
    background-color: #141138;
    background-image: url(../../../assests/pattern.svg);
    background-repeat: space;
    background-size: cover;
    min-height: fit-content;
    color: #FFFFFF;
    padding-top: .5rem;

    .containerF {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-evenly;
       
        @media screen and ( max-width:850px){
            // flex-wrap: wrap;
            display: grid;
            gap: 1.2rem;
        }

        .footer-left {
            display: flex;
            gap: 2rem;
            align-items: center;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                margin: 0;

                color: #FFFFFF;
            }
        }

        .footer-right,
        .contact {
            text-align: center;

            p {

                text-align: center;

                i {
                    font-size: 14px;
                }
            }

            a {
                text-decoration: none;
                color: #FFFFFF;

            }

            .contacts {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 1.2rem;
                text-align: center;

            }

            .quick-links {
                padding: 0;
            }

            ul {
                text-align: center;

                li {
                    list-style: none;
                   

                    a {
                     
                        text-decoration: none;
                        color: #FFFFFF;
                        font-size: 14px;
                    }
                }
            }

            .contacts {
          
                text-align: center;

                a {
                    color: #FFFFFF;
                    text-decoration: none;


                }

                .fa-solid {
                    margin-right: 1rem;
                }
                .socialMedia{
                    margin-top: 1rem;
                }
            }
        }

    }

    .copyright {
        align-self: center;
        font-size: 14px;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .footer-container {
        .container {
            display: grid;

        }
    }
}