.concact-container {
    background-color: hsla(0, 0%, 84%, 0.2);
    padding: 2rem 0;

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        /* identical to box height */


        /* Midland-blue */

        color: #141138;
    }

    .fa-solid {
        color: #141138;
        margin-right: 1rem;

    }

    .contact-details {
        display: grid;
        gap: 1rem;

        p,
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
            // line-height: 36px;
            text-decoration: none;
            /* identical to box height */


            /* General black */

            color: #1F1F1F;

            .location {
                margin-left: 3.4rem;
            }

            .fa-solid {
                color: #660113;
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .container-left {
            display: flex;
            flex-direction: column;
         
            gap: 2rem;
            // width: 50%;

            .container-left {
                .contact-title {}
            }
        }

        .contact-right {

            //  width: 70%;
            form {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                width: 90%;

                input,
                textarea {
                    padding: 1rem .8rem;
                    border-radius: 5px;
                    border: none;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height */


                    /* General black */

                    color: #1F1F1F;
                }

                .myBtn {
                    justify-self: center;
                    padding: 8px 24px;
                    gap: 5px;
                    width: max-content;
                    background: #660113;
                    border-radius: 5px;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    border: none;
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .contact-right {
        width: 100%;

    }
    a{
        font-size: 1rem;
    }
}