.forgot-container {
  height: max-content;
  .forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 50vh;
    margin: 2rem auto;
    gap: 2rem;
    width: max-content;
    border: #650113 solid 2px;
    padding: 2rem;
    border-radius: 8px;


    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      display: block;
    }

    input,
    textarea {
      padding: 1rem 0.8rem;
      border-radius: 5px;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      // width:50%;
      border: 1px solid #650113;
      /* identical to box height */

      /* General black */

      color: #1f1f1f;
    }

    .error {
      color: #d8000c;
      background-color: #ffbaba;
      background-image: url("https://i.imgur.com/GnyDvKN.png");

      background-repeat: no-repeat;
      padding-left: 40px;
      line-height: 30px;
    }

    .myBtn {
      justify-self: center;
      padding: 8px 24px;
      gap: 5px;
      width: max-content;
      background: #660113;
      border-radius: 5px;
      font-size: 1.5rem;
      color: #ffffff;
      border: none;
      margin-top: 2rem;

      &:disabled {
        background-color: #848383;
      }
    }

  
  }
}
