$mobile: 1150px;

.forgot-container {
  height: max-content;
  padding: 150px 0;

  @media screen and (max-width: $mobile) {
    padding: 250px 0;
    width: 100vw;
  }


  .forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 50vh;
    margin: 0rem auto;
    gap: 2rem;
    width: max-content;
    border: #650113 solid 1px;
    padding: 2rem;
    border-radius: 8px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 550px) {
      width: 80%;
    }

    label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      display: block;
    }

    input,
    textarea {
      padding: 1rem 0.8rem;
      border-radius: 5px;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      // width:50%;
      border: 1px solid #650113;
      /* identical to box height */

      /* General black */

      color: #1f1f1f;

      @media screen and (max-width: 550px) {
        width: 80%;
      }
    }

    .error {
      color: #d8000c;
      background-color: #ffbaba;
      background-image: url("https://i.imgur.com/GnyDvKN.png");

      background-repeat: no-repeat;
      padding-left: 40px;
      line-height: 30px;
    }

    .myBtn {
      justify-self: center;
      padding: 8px 24px;
      gap: 5px;
      width: max-content;
      background: #660113;
      border-radius: 5px;
      font-size: 1.5rem;
      color: #ffffff;
      border: none;
      margin-top: 2rem;

      &:disabled {
        background-color: #848383;
      }
    }
  }
}
