 .glance-container{
    background-color: #D0CFD7;
    .glanceTitle {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            text-align: center;
    
            color: #660113;
    
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;
            }
        }
    .glance {
            display: grid;
            justify-content: center;
            width: 80%;
            gap: 2rem;
            padding: 3rem 1rem;
            margin: 0 auto;

            
           
    
            h3,
            p {
                margin: 0;
            }
    
            
    
            .glanceStats {
    
                display: flex;
                gap: 3rem;
                justify-content: center;
                margin-bottom: 1.3rem;
                font-family: 'Poppins';
                text-align: center;
    
                .statsNumbers {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 2rem;
                    color: #141138;
    
                }
            }
    
        }
        .kcpe{
            padding-bottom: 1rem;
            p{
                text-align: center;
                font-family: "Poppins";
                    text-align: center;
                    // margin: 0;
                   
            }
            .report{
                margin-bottom: 0;
            }
            .results{
                text-align: center;
                padding-top: 1rem;


               .selected, a{
                    padding: .5rem 1rem;
                    background-color: #660113;
                    color: #ffffff;
                    font-family: "Poppins";
                    border-radius: 6px;
                    text-decoration: none;

                }

                .selected{
                    border: 2px solid #660113;
                    background-color: #D0CFD7;
                    color: #141138;
                    font-family: "Poppins";
                    font-size: 14px;
                    margin-right: .5rem;
                }
            }
        }
 }
 @media screen and (max-width:850px) {
    .glanceStats{
       flex-wrap: wrap;
    }
 }