.events-container{
width: 80%;
margin: 5rem auto;
display: flex;
flex-direction: column;
.fa{
    display: none;
}

    .line {
            border: 4px solid #660113;
            width: 4rem;

        }
        .events-title{
            h2{
                font-weight: 700;
                font-size: 36px;
                color: #141138;
                margin: 0;
            }
        }

        .caroussel{
            margin :60px auto
        }

        a {
            // text-align: center;
            display: flex;
            align-content: center;
             justify-self: center;
             width: max-content;
        color: #FFFFFF;
            padding: .5rem 1rem;
            background-color: #650113;
            text-decoration: none;
            border-radius: 8px;
            font-size: 1.3rem;

        }
        
        a:hover {
            transform: scale(1.2, 1.2);
        }
}