.events-container {
  width: 80%;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;



  img {
    width: 100%;
    height: auto;
  }

  .fa {
    // display: none;
    color: #650113;
    font-size: 1.25rem;
  }

  .line {
    border: 4px solid #660113;
    width: 4rem;
  }

  .events-title {
    h2 {
      font-weight: 700;
      font-size: 36px;
      color: #141138;
      margin: 0;
    }
  }

  .caroussel {
    margin: 60px auto;
    width: 100%;

    .mini-events {
      height: 300px;

      img {
        width: 100%;

        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 100;
          // font-size: 1.25rem;
          color: #141138;
          margin-left: 10px;
          // background-color: #141138;
        }
                .slider-single, .preactive{
                    background-color: #f2f2f2;
                 width: max-content !important;
                }
            }
    }
    p {
      width: 90%;
      margin: 1rem auto;
      //    padding: 10px 0;
      span {
        color: #650113;

        &:hover {
          text-decoration: underline;
          color: #141138;
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
