.containerm{
    background-color: #d0cfd7;
    padding: 1rem;
    img{
        height: auto;
        width: 100%;
    }
    .mission-container {
            font-family: 'Poppins', sans-serif;
            color: #1F1F1F;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            column-gap: 4rem;
            // row-gap: 2rem;
            
    
            h2 {
                font-size: 3rem;
            }
    
            p {
                font-size: 1.5rem;
                font-weight: 300;
            }
    
            // color: red;
            .mission-left {
                // width: 50%;
                object-fit: fill;
            }
        }
}

@media screen and (max-width:800px) {
    .mission-container {
        flex-wrap:wrap-reverse;
        gap: 2rem;
    }
         .mission-right {
            //  width: 100%;
             // object-fit: fill;
         }

}