.topnav-container{
    background-color: hsla(349, 98%, 20%, 1);
    .containerTopnav{
        width: 80%;
            margin: 0 auto;
            display: flex;
              
                padding: .5rem 1.2rem;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
            a {
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 600;
            
                }
            
                a:hover {
                    color: #211969;
                }
            
                .webmail {
                    background-color: #141138;
                    padding: .7rem .5rem;
                    border-radius: 8px;
                    font-weight: 600;
                    margin-left: 8rem;
            
                    a:hover {
                        color: #ffffff;
                    }
            
                }
            
                .webmail:hover {
                    transform: scale(1.1, 1.1);
                }
            
                .links {
                    a {
                        padding: .5rem
                    }
                }



    }
   
    @media screen and (max-width: 850px){
        .containerTopnav{
            display: none;
            justify-content: center;
        }
        
    }
}
