.hero-container {
    min-height: 70vh;
    background-image: url(../../../assests/homepage-bg.png);
    background-size: cover;
    // border-bottom-left-radius: 50%;
    //     border-bottom-right-radius: 50%;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    display: grid;
    align-content: center;
    // opacity: 0.6;

    .containerh {
        display: grid;
        // flex-direction: column;
         align-self: center;
         justify-items: center;
        // text-align: center;
        color: #141138;
        gap: 1rem;
        width: 80%;
        margin: 0 auto;
      
        

        .school{
            font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                // line-height: 60px;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                    letter-spacing: 0.2em;
                    // padding-right: .5rem;

                    background-color: #660113;
                    padding: 1rem .3rem;
                    border-radius: 8px;
        }
                
        
                .school .letter {
                    display: inline-block;
                    line-height: 1em;
                }

        .line{
            width:303px;
            border: 3px solid #141138;
            margin: 0;
        }

        h2{
            font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height */
            
               
        }
        p{
            font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
               
        }
        button{
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 24px;
                gap: 10px;
                width: max-content;
                background: #660113;
                    border-radius: 10px;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    border: none;

        }
        button:hover{
            transform: scale(1.1, 1.1);
        }
    }


}

@media screen and (max-width:850px) {
    .containerh{
        // display: grid;
        justify-items: flex-start;
    }
}